Chapter06/cell_images/
Chapter06/download.ps1
*/.ipynb_checkpoints
Chapter07/df.csv
Chapter07/images/
Chapter07/open-images-bus-trucks.zip
Chapter08/open-images-bus-trucks.tar
Chapter08/open-images-bus-trucks.tar.xz
Chapter08/ssd-utils/
Chapter08/open-images-bus-trucks/
Chapter09/dataset1.zip
Chapter09/dataset1/
Chapter09/__pycache__/
Chapter09/annotations_instance.tar
Chapter09/annotations_instance/
Chapter09/ch9-3.pth
Chapter09/coco.log
Chapter09/images.tar
Chapter09/images/
Chapter10/chapter10.zip
Chapter10/classes.csv
Chapter10/data.zip
Chapter10/images.json
Chapter10/images_backup.json
Chapter10/masks.zip
Chapter10/output/
Chapter10/train-annotations-object-segmentation.csv
Chapter10/train-masks-0.zip
Chapter10/train-masks-1.zip
Chapter10/train-masks-2.zip
Chapter10/train-masks-3.zip
Chapter10/train-masks-4.zip
Chapter10/train-masks-5.zip
Chapter10/train-masks-6.zip
Chapter10/train-masks-7.zip
Chapter10/train-masks-8.zip
Chapter10/train-masks-9.zip
Chapter10/train-masks-a.zip
Chapter10/train-masks-b.zip
Chapter10/train-masks-c.zip
Chapter10/train-masks-d.zip
Chapter10/train-masks-e.zip
Chapter10/train-masks-f.zip
Chapter10/train/
Chapter11/MNIST/