Chapter06/cell_images/
Chapter06/download.ps1
*/.ipynb_checkpoints
Chapter07/df.csv
Chapter07/images/
Chapter07/open-images-bus-trucks.zip
Chapter08/open-images-bus-trucks.tar
Chapter08/open-images-bus-trucks.tar.xz
Chapter08/ssd-utils/
Chapter08/open-images-bus-trucks/
Chapter09/dataset1.zip
Chapter09/dataset1/
Chapter09/__pycache__/
Chapter09/annotations_instance.tar
Chapter09/annotations_instance/
Chapter09/ch9-3.pth
Chapter09/coco.log
Chapter09/images.tar
Chapter09/images/
